body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    font-family: 'Comfortaa', cursive;
}

h1{
    font-weight: 900;
}

.page1{
    margin-top: -15px;
    background-color: rgba(249, 246, 238, 1);
    display: block;
}

.frame{
    padding: 15px 18%;
}

.nav{
    text-align: center;
    margin-bottom: 12%;
}

.nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: -35px;
    flex-wrap: wrap;
}
.nav ul li {
    margin-right: 9%;
}

.nav ul li a {
    text-decoration: none;
    color: rgba(17, 17, 17, 1);
    transition: color 0.3s ;
}

.nav ul li a:hover{
    color: rgba(241, 174, 14, 1);
}

.cart-food{
    background-color: #FFF;
    border: none;
    border-radius: 50px;
    padding: 5% 8%;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.text1{
    margin-right: 5%;
    width: 50%;
}

.img1{
    width: 350px;
    height: 340px;
    overflow: hidden;
    position: relative;
    border-radius: 50px;
}

.img1 img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

.page2{
    background-color: rgba(241, 174, 14, 1);
    display: block;
}

.cart-text{
    margin-top: 4%;
    background-color: #FFF;
    border: none;
    border-radius: 50px;
    padding: 5% 10%;
    align-items: center;
    margin-bottom: 5%;
    text-align: center;
}

.cart-text button {
    padding: 2% 5%;
    border: none;
    border-radius: 50px;
    text-align: center;
    background-color: rgba(153, 229, 77, 1);
    color: rgba(17, 17, 17, 1);
}

.cart-text button:hover{
    background-color: rgb(56, 212, 56);
}

/*  */

.page3{
    background-color: rgba(249, 246, 238, 1);
    display: block;
}

.cart-Our-mission{
    background-color: #FFF;
    border: none;
    border-radius: 50px;
    padding: 5% 8%;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.text2{
    margin-left: 5%;
    width: 50%;
}

.img2{
    width: 350px;
    height: 340px;
    overflow: hidden;
    position: relative;
    border-radius: 50px;
}

.img2 img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

.button-12{
    padding: 4% 10%;
    border: none;
    border-radius: 50px;
    text-align: center;
    background-color: rgba(241, 174, 14, 1);
    color: rgba(17, 17, 17, 1);
}

.button-12:hover{
    background-color: rgb(241, 116, 14);
}

.boxing{
    display: flex;
  justify-content: center; /* Центрируем блоки по горизонтали */
  align-items: center;     /* Центрируем по вертикали */
  flex-wrap: wrap; /* Позволяем блокам переноситься на новую строку при необходимости */
    /*  для примера чтобы было видно */
}

.photo-predlojenie {
    /* Убираем стили flex с photo-predlojenie */
    margin-bottom: 0; /* Убираем отступ снизу */
  }

  .photo-predlojenie div {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s ease;
    border-radius: 10px;
    margin: 10px; /* добавляем отступ между блоками*/
}
.photo-predlojenie div:hover{
    transform: scale(1.1);
}



.fon1 {
  background: url("photo/over1.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.fon1 a {
    text-decoration: none;
    color: #FFF;
}

.fon2 {
  background: url("photo/over2.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.fon2 a {
    text-decoration: none;
    color: #FFF;
}

.fon3 {
  background: url("photo/over3.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.fon3 a {
    text-decoration: none;
    color: #FFF;
}

.page4{
    background-color: rgba(153, 229, 77, 1);
    display: block;
}

.user-inf{
    background-color: #FFF;
    display: block;
    text-align: center;
    border-radius: 50px;
    padding: 2% 8%;
    margin: 7% auto;
}

.user-inf h1 {
    margin-top: 1rem;
}

.email{
    margin-bottom: 2%;
}

.email input{
    border-radius: 50px; 
    padding: 2% 5%;
}

.email input:hover{
    background-color: #e9e9e9;
}

.email button{
    background-color: rgba(153, 229, 77, 1);
    text-align: center;
    border-radius: 50px; 
    padding: 2% 5%;
    border: none;
}

.email button:hover{
    background-color: rgb(77, 229, 123);
}


.page5{
    background-color: rgba(249, 246, 238, 1);
    display: block;
}

.admin-inf{
    background-color: #FFF;
    border-radius: 50px;
    display: flex;
    padding: 2% 8%;
    margin: 7% auto;
}

.scidci{
    margin-right: 20%;
}

.scidci p a {
    text-decoration: none;
    color: rgba(153, 229, 77, 1);
}

.scidci p a:hover{
    color: rgb(77, 229, 123);
}

.scidci button{
    padding: 6% 12%;
    border: none;
    border-radius: 50px;
    text-align: center;
    background-color: rgba(241, 174, 14, 1);
    color: rgb(255, 255, 255);
}

.scidci button:hover{
    background-color: rgb(241, 116, 14);
}





@media (max-width: 940px){
    .cart-food {
        flex-wrap: wrap;
        display: flex;           /* Используем flexbox для центрирования */
        justify-content: center; /* Центрируем по горизонтали */
        align-items: center;     /* Центрируем по вертикали (опционально, если нужно выровнять текст по центру изображения) */
        width: 80%;              /* Или какая ширина вам нужна */
        margin: 20px auto;       /* Центрируем контейнер на странице */
        border: 1px solid #ccc; /* Добавляем рамку для лучшей видимости */
        padding: 10px;
        
    }
    .text1, .text2 {
        margin-right: 0%;
        width: 80%;
        margin-bottom: 2rem;
        order: 2;
    }
    .img1, .img2 {
        order: 1;
        width: 50%;
        display: inline-block;
        align-items: center;
        width: 300px;
        height: 290px;
    }

    .cart-Our-mission{
        flex-wrap: wrap;
        display: flex;           /* Используем flexbox для центрирования */
        justify-content: center; /* Центрируем по горизонтали */
        align-items: center;     /* Центрируем по вертикали (опционально, если нужно выровнять текст по центру изображения) */
        width: 80%;              /* Или какая ширина вам нужна */
        margin: 20px auto;       /* Центрируем контейнер на странице */
        border: 1px solid #ccc; /* Добавляем рамку для лучшей видимости */
        padding: 10px
    }

    .admin-inf{
        flex-wrap: wrap;
        display: flex;           /* Используем flexbox для центрирования */
        justify-content: center; /* Центрируем по горизонтали */
        align-items: center;     /* Центрируем по вертикали (опционально, если нужно выровнять текст по центру изображения) */
        width: 80%;              /* Или какая ширина вам нужна */
        margin: 20px auto;       /* Центрируем контейнер на странице */
        border: 1px solid #ccc; /* Добавляем рамку для лучшей видимости */
        padding: 10px
    }

    .scidci{
        order: 1;
        width: 50%;
        display: inline-block;
        align-items: center;
    }

    .ul-inf{
        margin-right: 0%;
        width: 80%;
        margin-bottom: 2rem;
        order: 2;
    }
        
}



@media (max-width: 768px){
    .container-predlojenie{
        flex-direction: column; /* располагаем блоки вертикально */
    }
     .photo-predlojenie div {
       margin: 10px 0;
     }  
}

@media (max-width: 520px){
    .page5, .img1, .img2{
        display: none;
    }

    .frame{
        padding: 5px 8%;
    }

}

@media (max-width: 330px){
    .page5, .img1, .img2{
        display: none;
    }

    .frame{
        padding: 1px 1%;
    }
}

/*  Медиа запрос для адаптации */
@media(max-width: 768px){
    
}